body {
	cursor: default;
	display: block;
	height: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	width: 250px;
	font-size: 13px;
	white-space: normal;
	font-family: 'Segoe UI', Tahoma, sans-serif;
}

a {
	font-weight: bolder;
	font-size: 75%;
}